.backbuttoncontainer {
    margin-top: 36px;
    display: inline-block;
}

.blogintro {
    margin-top: 16px;
}

.quickdetails {
    padding: 36px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 16px;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 24px;
    margin: 36px 0;
}

.aboutmecontent {
    display: grid;
    grid-template-columns: 30% auto;
    justify-content: left;
    grid-gap: 16px;
}

.buttons {
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 16px;
}

button {
    font-family: 'IBM-Plex-Sans', sans-serif;
    font-size: 12pt;
    color: #fff;
    width: auto;
    background: #7FC2EE;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #7FC2EE;
    border-radius: 4px;
    transition: 0.4s ease-out;
}

button:hover {
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    transition: 0.4s ease-out;

    cursor: pointer;
}

#time {
    transition: ease-in-out 1s;
}

/*Assets Images*/
.assetsgrid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0px;
    justify-content: space-between;
}
.assetsgridimage {
    width: 100%;
}

#rect {
    grid-column: span 2;
}



/*Section Specs*/
.moreprojectscontainer {
    border-top: 1px solid #b2b2b2;
    padding-top: 16px;
}

.moreprojects {
    width: 100%;
    height: auto;
    display: block;
    align-items: center;
}

#conference {
    grid-column: span 2;
}

/*Video*/
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}








/*About me*/
.grid-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;
    justify-content: initial;
    margin-top: 24px;
    margin-bottom: 24px;
}



/*Responsive Blog*/

@media screen and (max-width:960px) {
    .quickdetails {
        grid-template-columns: 50% 50%;
    }

    .aboutmecontent {
        grid-template-columns: auto;
    }
}


@media screen and (max-width: 648px) {
    .quickdetails{
        grid-template-columns: auto;
    }

    #conference {
        grid-column: span 1;
    }

    .assetsgrid{
        grid-template-columns: auto auto;
        grid-gap: 8px;
    }

    .grid-footer {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 438px) {
    .grid-footer {
        grid-template-columns: auto;
    }
}


/*floating navbar*/

.fixNavbar {
    position: sticky !important;
    top: 8px !important;
    z-index: 1;
    border-radius: 16px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 8px rgba(69, 69, 69, 0.1);

}

.alignItems {
    display: block !important;
    justify-content: space-between !important;
    align-items: center;
    text-align: center;
    flex: 1;
}

.nav-item2 {
    padding: 0px 8px !important;
    font-size: 12pt;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;


    width: 100%;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: #7f7f7f;
}


@media screen and (max-width: 968px) {
    .fixNavbar {
        display: none !important;
    }
}


.activeNav, .nav-link:hover {
    color: #7FC2EE !important;

  }