.splashcontainer {
    margin: auto;
    width: 100%;
    height: 70vh;
}

.splashimage {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    animation: visible ease-in 1s 1;
}

.itsame {
    width: 100%;
    border-radius: 12px;
    margin-right: 24px;
}

.blogimage {
    width: 100%;
    padding: 12px 0;
}

.moreprojimage {
    padding: 16px 24px 12px 0;
    display: inline-block;
}








/*Responsive*/

@media screen and (max-width: 960px) {
    .splashcontainer {
        height: 40vh;
    }

    .itsame {
        width: 75%;
        margin: auto;
        margin-top: 8vh;
        margin-bottom: 8vh;
    }
}