/*Basics*/

a {
    color: #7FC2EE;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

#clickable {
    color: #7FC2EE;
}

#clickable:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

a1 {
    color: #7FC2EE;
}

a1:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

/*Specifics*/

.section {
    width: 100%;
}

nav {
    width: 960px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 72px;

    /*Blur*/
}

#active {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
    pointer-events: none;
    cursor: default;
}

.nav-menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nav-item {
    font-size: 12pt;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;

    width: 100%;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: #7f7f7f;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #7FC2EE;
}

.logo {
    height: 56px;
    float: left;
}

.icons {
    height: 20px;
    filter:invert(100%);
    padding-right: 6px;
    padding-left: 6px;
}

/*content*/

.content-container {
    max-width: 960px;
    margin: auto;
}

.intro {
    width: 100%;
    display: block;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: start;

    padding: 10vh 0;
}


/*Project Card*/
.projcard {
    max-width: 460px;
    padding-right: 20px;
    float: left;
    padding-bottom: 20px;
    animation: visible 1.6s ease-in both;
}

.topofcard {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    justify-content: start;
}

.projimage {
    float: left;
}

.projimagespecs {
    width: 140px;
    height: 140px;
    border-radius: 8px;
}

.titleinfo {
    float: left;
}

.bottomofcard {
    width: 100%;
    float: left;
    display: block;
    padding-top: 8px;
}

.seemore {
    display: inline-block;
    margin: 4px 4px -1px 4px;
    height: 12px;
}

.viewmorearrow {
    margin: 4px 4px 0 4px;
    height: 14px;
}

.seemore:hover .viewmorearrow{
    filter: grayscale(100%);
}



/*section specs*/

#nav {
    background-color: #001935;
    animation: fadebgblack 1.6s 1;
}

#intro {
    background-color: #001935;
    animation: fadebgblack 1.6s 1;
    border-radius: 0 0 20px 20px;
}

#footer {
    background-color: #001935;
    padding: 36px 0;
    border-radius: 20px 20px 0 0;
}

.mobileview {
    width: 240px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    padding-bottom: 24px 0;
}




/*Fade animations
@keyframes fadebgblack {
    from {
        background-color: white;
    }
    to {
        background-color: #001935;
    }
}

@keyframes visible {
    0% {
        transform: translateY(48px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}*/


/*Responsive*/

@media screen and (max-width: 968px) {
    .content-container {
        width: 95%;
    }

    nav {
        width: 100%;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: -120%;
        top: 84px;
        flex-direction: column;
        background-color: #001935;
        width: 96%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    hamburger {
        text-decoration: none;
        background-color: #001935;
        border-radius: 4px;
        border: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobileview {
        display: grid;
        width: 240px;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        padding: 24px 0;
    }

    .navgroup {
        display: none;
    }

    #active {
        color: #fff;
        text-decoration: underline;
        font-weight: 500;
    }

    .projects {
        grid-template-columns: auto auto;
        grid-gap: 12px;
    }

    .topofcard{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 648px) {
    .projects {
        grid-template-columns: auto;
    }

    .projcard {
        padding-bottom: 20px;
    }


}

    
