/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}  

body {
    width: 100%;
    font-family: 'Alegreya', serif;
    font-size: 12pt;
    font-weight: 400;
    color: #000;
}









/*Basics*/
.container {
    width: 100%;
}

.navContainer {
    position: sticky !important;
    top: 12px;
    width: 80%;
    margin: auto;
}










/*Divs*/
.intro {
    width: 100vw;
    height: auto;
    /* background-color: #f6f6f6; */
    margin-top: 12vh;
}

.project-list {

}

.projectCard {
    height: 420px;
    width: 100%;
    margin: 48px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    border-radius: 24px;
    transition: 0.4s ease-out;
}

/* .projectCard:hover {
    box-shadow: 0 0 36px rgb(0, 0, 0, 0.12);
    transition: 0.4s ease-out;
} */

.leftSide, .rightSide{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    border-radius: 0 24px 24px 0;
}

.leftSide {
    display: grid;
    height: 100%;
    padding-left: 36px;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
    grid-template-rows: auto 52px;
    justify-content: space-between;
}

.top {
    display: block;
    height: 100%;
}

.bottom {
    display: block;
    height: 100%;
    bottom: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.horizontalMobileScroll {
    --items: 3;
    --cell-padding: 0.8rem;
    --cell-basis: calc((100% - var(--cell-padding) * 2) / var(--items));

    padding: 0 24px;
  
    display: flex;
    overflow: auto;
}
  
.horizontalMobileScroll__cell {
    flex: 1.6 0 var(--cell-basis);
    padding: var(--cell-padding);
}
  
.horizontalMobileScroll__inner {
    height: auto;
    /* background-color: red; */
}

.projectCardSmall {
    height: auto;
    width: 100%;
    max-width: 800px;
    margin: 48px 0px;
    max-height: var(--items);

    background-color: #fff;
    

    display: block;
    gap: 24px;

    border-radius: 24px;
    transition: 0.4s ease-out;
}

  /* .projectCardSmall:hover {
    box-shadow: 0 0 36px rgb(0, 0, 0, 0.12);
    transition: 0.4s ease-out;
  } */



.quickdetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    justify-content: space-between;
    border-radius: 24px;
}

.conttwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
}

.boxContainer {
    padding: 24px;
    border-radius: 24px;
}



.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    justify-content: initial;
    padding: 36px 0;
    color: #000;
}

.note {
    display: grid;
    grid-template-columns: 36px auto;
    gap: 16px;
    padding: 12px 12px 0 12px;
    border: 1px solid #e5e5e5;
    height: auto;
    align-items: center;
}




/* List */
.numberedList {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;

}

.listItem {
    width: 100%;
    display: grid;
    grid-template-columns: 56px auto;
    align-items: center;
    gap: 16px;
}

.listNumber {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    color: #888;
    font-size: 24pt;
    text-align: center;
    border-radius: 28px;
    font-weight: 900;
}

.listContent {
    width: 100%;
    display: block;
    font-family: 'Alegreya', serif;
    font-size: 12pt;
}










/*Images*/
video {
    object-fit: contain;
}

.center {
    display: block;
    margin: auto;
}

.full {
    width: auto;
    height: auto;

}

.home-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.home-fill-height {
    width: auto;
    height: 100%;
    object-fit: fit;
    object-position: bottom;
}

.home-photo {
    height: 180px;
    width: 180px;
}

.home-about {
    width: 180px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    margin: 12px;
    border-radius: 24px;
}

.home-icon {
    height: 72px;
    width: auto;
    border-radius: 36px;
    margin: 36px;
}

.horizontalImage {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    margin-bottom: 16px;
    max-height: 280px;
    border-radius: 12px;

    background-size: contain;
}







/*Buttons*/
a {
    color: #000;
    text-decoration: none;
    transition: 0.4s ease-out;
}

a:hover {
    text-decoration: underline;
    color: #000;
    transition: 0.4s ease-out;
}


.in-line-buttons {
    display: block !important;
    justify-content: space-between !important;
    align-items: center;
    text-align: center;
    flex: 1;

    margin: auto;
}

.icon-button {
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.16) 12px;
    border: 2px inset rgba(0, 0, 0, 0);
    transition: 0.4s ease-out;

    margin: 0 18px;
}

.icon-button:hover {
    box-shadow: rgba(0, 0, 0, 0) 12px;
    border: 2px inset rgba(0, 0, 0, 1);
    border-radius: 100%;
    transition: 0.4s ease-out;
}

.text-button {
    font-style: italic;
    color: #666;
    text-decoration: none;
    transition: 0.4s ease-out;
}

.text-button:hover {
    text-decoration: underline;
    color: #000;
    transition: 0.4s ease-out;
}

.primary-button {
    background-color: #000;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 36px;

    font-family: 'Lexend Deca', sans-serif;
    font-size: 14pt;
    font-style: bold;
    color: #fff;

    text-decoration: none;
    transition: 0.16s ease-out;
}

.primary-button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.fixed-button-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: 0.8s ease-out;
}

.fixed-button-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: 0.8s ease-out;
}








/*Text*/
p-title {
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 42pt;
    font-weight: 700;

    display: block;
    text-align: center;

    margin: 72px 0 36px 0;
}

p-subtitle {
    font-family: 'Alegreya', serif;
    font-size: 16pt;
    font-weight: 400;

    width: 80%;
    margin: auto;

    margin-bottom: 12px;

    display: block;
    text-align: center;
}

p-h1 {
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 24pt;
    font-weight: 100;
    text-transform: uppercase;

    display: block;
    text-align: center;

    margin: 72px 0 36px 0;
}

p-bh1 {
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 36pt;
    font-weight: 700;
    hyphens: manual;
    -webkit-hyphens: manual;

    display: block;
    text-align: left;

    margin: 36px 0 8px 0;
}

p-h2 {
    display: block;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 28pt;
    font-weight: 700;

    margin-bottom: 8px;

    display: block;
    text-align: left;
}

p-h3 {
    display: block;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16pt;
    font-weight: 700;

    margin-bottom: 8px;

    display: block;
    text-align: left;
}

p-h4 {
    display: block;
    width: 100%;
    font-family: 'Alegreya', serif;
    font-size: 12pt;
    font-weight: 700;
}

p-hcentre {
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20pt;
    font-weight: 100;

    display: block;
    text-align: center;
    margin-bottom: 24px;
}

p1 {
    display: block;
    width: 100%;
    font-family: 'Alegreya', serif;
    font-size: 12pt;
    font-weight: 400;
    margin-bottom: 16px;
}

p1i {
    display: block;
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    font-weight: 200;
    margin-bottom: 12px;
}

p2{
    display: block;
    width: 100%;
    font-family: 'Alegreya', serif;
    color: #666;
    font-size: 10pt;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}

p3 {
    display: block;
    width: 100%;
    font-family: 'Alegreya', serif;
    font-size: 10pt;
    font-weight: 400;
}

.inline-tags {
    display: inline-block;
    margin: 16px 24px 0 0;
}

p-tags {
    font-size: 10pt;
    letter-spacing: 0.04rem;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #f6f6f6;
    color: #999;
    border-radius: 8px;
}

p-tags-dark {
    font-size: 10pt;
    letter-spacing: 0.04rem;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #121212;
    color: #fff;
    border-radius: 8px;
}

p-emoji {
    text-align: center;
    font-size: 24px;
}

p-bigemoji {
    font-size: 48px;
}






/*floating navbar*/

nav {
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 80px;
    width: 100%;
}

.fixNavbar {
    position: -webkit-sticky;
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1;
    background-color: #fff;
    color: #000;
    border-radius: 24px;
    /* border-bottom: 1px solid #000; */

}

.alignItems {
    display: block !important;
    justify-content: space-between !important;
    align-items: center;
    text-align: center;
    flex: 1;
}

.nav-item {
    padding: 0px 8px !important;
    font-size: 12pt;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;


    width: 100%;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: #000;
}

.nav-link {
    margin: auto;
    text-align: center;
    color: #000;
}

.activeNav {
    color: #000;
}




@media screen and (max-width: 968px) {
    .fixNavbar {
        display: none !important;
    }
}

@media screen and (max-width: 468px) {

    .container {
        width: 90%;
    }
    
    .projectCard {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        align-items: center;
    }

    .rightSide {
        width: 100%;
        max-height: 240px;
        margin: auto;
    }

    .leftSide, .rightSide {
        border-radius: 24px;
    }

    .leftSide {
        padding-left: 16px;
        padding-right: 16px;
        gap: 12px;
    }

    .horizontalMobileScroll {
        --items: 1;
        --cell-padding: 0.8rem;
        --cell-basis: calc((100% - var(--cell-padding) * 2) / var(--items));
      
        display: flex;
        overflow: auto;
      }

    .inline-tags {
        display: none;
      }

    .grid-footer {
        grid-template-columns: 1fr;
    }

    .quickdetails {
        padding: 16px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .conttwo {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}




.activeNav, .nav-link:hover {
    text-decoration: underline !important;

  }

  /* Extra */
.purple {
    background-color: #F3EDFC;
}

.grey {
    background-color: #f6f6f6;
    color: #000;
}

.darkgrey {
    background-color: #232323;
    color: #fff;
}

.two {
    --items: 2;
}

.black {
    background-color: #121212;
    color: #fff;
}

.white {
    color: #fff;
}

.whitebg {
    background-color: white;
    color: #000;
}

.shadow {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
}

.shadow:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.16);
}

.rounded {
    border-radius: 24px;
}

.v80 {
    height: 80vh;
}

.space {
    height: 84px;
    width: 100%;
}

.pad48 {
    padding: 48px 0;
}

.pad36 {
    padding: 36px 0;
}

.pad24 {
    padding: 24px 0;
}

.padS48 {
    padding: 0 48px;
}

.padS36 {
    padding: 0 36px;
}

.padS24 {
    padding: 0 24px;
}
