body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

.tags {
    display: block;
    margin: 4px 0;
}

p-heading {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 64pt;
    font-weight: 900;
    color: #7FC2EE;
    display: block;
    padding-bottom: 16px;
    animation: visible 1.6s 1;
}

p-subheading{
    font-size: 16pt;
    font-weight: 300;
    color: #f6f6f6;
    display: block;

    line-height: 1.5em;

    animation: visible 1.6s 1;
}

p-hometitle {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 32pt;
    font-weight: 900;
    border-bottom: 4px solid #7FC2EE;
    align-content: center;
    margin: auto;
}

p-title {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 24pt;
    font-weight: 900;
    padding-bottom: 8px;
    display: block;
}

p-subtitle {
    font-size: 12pt;
    text-transform: uppercase;
    padding-bottom: 4px;
    color: #212121;
    display: block;
    font-weight: 300;
}

p-subtitlebg {
    font-size: 12pt;
    text-transform: uppercase;
    padding: 4px 0px;
    border-radius: 4px;
    color: #909090;
    /* background-color: #f6f6f6; */
    display: inline-block;
    font-weight: 600;
}

p-subsubtitle {
    font-size: 10pt;
    padding-bottom: 8px;
    display: block;
    font-weight: 300;
}

p-about {
    font-size: 12pt;
    padding-bottom: 8px;
    display: block;
}

p-seemore {
    font-size: 12pt;
    padding-right: 4px;
}

p-footer {
    width: 100%;
    color: #7FC2EE;
    display: block;
    text-align: center;
    padding-bottom: 16px;
}


/*Blog*/
p-h1 {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    display: inline-block;
    margin-top: 64px;
    margin-bottom: 24px;
    border-bottom: 4px solid #7FC2EE;
}

p-h1-pqd {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18pt;
    display: inline-block;
    margin-bottom: 24px;
    border-bottom: 4px solid #7FC2EE;
}

p-h2 {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16pt;
    margin: 32px 0 16px 0;
    display: block;
    color: #666;
}

p-h3 {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    padding-bottom: 4px;
}

p-h4 {
    font-family: "Merriweather", Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 4px;
    color: #666;
}




p1 {
    display: block;
    width: 100%;
    line-height: 18pt;
}

p2 {
    display: block;
    width: 100%;
    font-style: italic;
}

p2-centre {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 10pt;
    color: #666;
    text-align: center;
}

p3 {
    font-size: 10pt;
    display: block;
    width: 100%;
}

p-centre {
    display: block;
    width: 100%;
    text-align: center;

    padding-top: 24px;
}

p-quote {
    font-family: "Merriweather", Helvetica, sans-serif;
    display: block;
    width: 90%;
    font-weight: bold;
    font-style: italic;
    padding: 12px 0 12px 12px;
    margin: auto;
    align-content: center;
    text-align: centre;
    border-left: 4px solid #7FC2EE;
    border-radius: 4px;
}

p-psquote {
    font-family: "Merriweather", Helvetica, sans-serif;
    display: block;
    width: 90%;
    color: #064067;
    font-size: 24pt;
    font-weight: 900;
    font-style: italic;
    padding: 12px;
    margin: auto;
    align-items: center;
    text-align: center;

}

li {
    padding: 4px 0;
}