.backbuttoncontainer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    padding: 24px 0 64px 0;
    height: 40px;
    width: auto;
    display: inline-block;
    cursor: pointer;
}

.backbutton {
    padding: 8px 16px;
    border: 1px solid #4A90E2;
    border-radius: 2px;
    transition: 0.4s ease-out;
}

.button {
    width: auto;
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #4A90E2;
    border-radius: 2px;
    transition: 0.4s ease-out;
}

.button:hover {
    color: #fff;
    background: #4A90E2;
    border-radius: 2px;
    transition: 0.4s ease-out;
}

.backarrow {
    -webkit-filter: grayscale(1);
    height: 10px;
    margin-right: 8px;
    bottom: 18px;
}

.backbutton:hover .backarrow{
    -webkit-filter: brightness(4);
}

.backbutton:hover {
    color: #fff;
    background: #4A90E2;
    border-radius: 2px;
    transition: 0.4s ease-out;
}

.content{
    padding: 96px 10px 10px 10px;
    width: 100%;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 65%;
    padding-top: 36.5625%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.posterimage {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px 0 20px 0;
}

.emphasis {
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 8px;
    justify-content: space-between;
}

.grid > div {
    padding-bottom: 12px;
}

.readmore {
    padding-top: 24px;
    padding-left: 12px;
}

.grid-blog {
    display: grid;
    width: 75%;
    grid-template-columns: 50% 50%;
    grid-gap: 8px;
    justify-content: space-between;
    padding: 12px;
}

.wwh {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-gap: 12px;
    justify-content: space-between;
}

.grid-images {
    display: grid;
    width: 75%;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
    justify-content: space-between;
    padding: 12px;
}














/*Font Descriptions*/
.title{
    font-family: 'Barlow', serif;
    font-size: 18pt;
}

h1 {
    font-family: 'Barlow', sans-serif;
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 14pt;
    color: #666;
}

h2 {
    font-family: 'Barlow', sans-serif;
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 11pt;
    color: #666;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 8px;
}

p {
    font-size: 9pt;
    width: 65%;
    color: #121212;
    font-weight: 400;
}
p1 {
    font-size: 9pt;
    width: inherit;
}

p2 {
    font-size: 9pt;
    font-style: italic;
}

p-wwh {
    font-size: 9pt;
}

.tldr {
    width: 65%;
    color: #222;
    font-style: italic;
    font-weight: 200;
    font-size: 10pt;
    padding-top: 8px;
}

.projecttype {
    font-size: 10pt;
    color: #636363;
    padding-top: 4px;
}

.fin {
    margin-top: 48px;
    width: 100%;
    border-top: solid 1px #d3d3d3;
    color: #d3d3d3;
    text-align: center;
}


/*details*/
.blogimage-small {
    width: 100%;
}

#boiling-s3 {
    grid-column: span 2;
}

#conference {
    grid-column: span 2;
}

#my-intro {
    display: grid;
    grid-template-columns: 70% auto;
    padding-bottom: 20px;
}



.footer{
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: #eee;
    }

    h1, h2, h3, p { 
        color: #eee;
    }

    .tldr {
        color: #ccc;
    }
    .fin {
        width: 100%;
        border-top: solid 1px #636363;
        color: #636363;
        text-align: center;
    }
}


@media screen and (max-width: 1024px) {
    p {
        width: 100%;
    }

    .grid-blog, .grid-images {
        width: 100%;
    }
}

    @media screen and (max-width: 768px) {
        .main-container {
            width: 96%;
            margin: auto;
        }

        .backbuttoncontainer {
            position: relative;
            height: 40px;
            width: auto;
            display: inline-block;
        }

        .content {
            margin-left: 0;
            padding-top: 132px;
        }

        .iframe-container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }

        .posterimage {
            position: relative;
            overflow: hidden;
            width: 100%;
        }

        /*.wwh {
            grid-template-columns: auto auto;
        }*/

        p {
            width: 100%;
        }

        .tldr {
            width: 100%
        }

        .footer {
            text-align: left;
        }

        .grid {
            grid-template-columns: auto auto;
        }

        #read-the-report {
            width: 100%;
            text-align: center;
        }

        
    }

    @media screen and (max-width: 415px) {
        .main-container {
            top: 0;
        }

        .grid {
            grid-template-columns: auto;
        }

        .grid-blog {
            grid-template-columns: auto;
        }

        .grid-images {
            grid-template-columns: auto auto;
        }

        .wwh {
            grid-template-columns: auto;
        }

        #conference {
            grid-column: span 1;
        }

        #my-intro {
            grid-template-columns: auto;
        }

        #axrk {
            grid-area: 1 / 1;
        }
        
    }

