.backbuttoncontainer {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    padding:96px 10px 0 10px;
    position: fixed;
    float: left;
    height: 100vh;
    width: 90px;
    display: block;
}

.backarrow {
    -webkit-filter: grayscale(1);
    height: 12px;
    margin-right: 12px;
    bottom: 18px;
}

.backbutton:hover .backarrow{
    -webkit-filter: none;
}

.backbutton:hover {
    color: #4A90E2;
}

.content{
    padding: 138px 10px 10px 10px;
    margin-left:100px;
    width: 100%;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.posterimage {
    width: 100%;
    padding: 20px 0 20px 0;
}

.emphasis {
    font-weight: 500;
}














/*Font Descriptions*/
.title{
    font-family: 'Barlow', serif;
    font-size: 18pt;
}

h1 {
    font-family: 'Barlow', sans-serif;
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 14pt;
    color: #666;
}

h2 {
    font-family: 'Barlow', sans-serif;
    padding-top: 16px;
    text-transform: uppercase;
    font-size: 11pt;
    color: #666;
}

p {
    width: 65%;
    color: #121212;
    font-weight: 300;
}

.tldr {
    width: 65%;
    color: #222;
    font-style: italic;
    font-weight: 200;
    font-size: 10pt;
    padding-top: 8px;
}

.date {
    font-size: 10pt;
    color: #636363;
    padding-top: 4px;
}




.footer{
    margin-left: 90px;
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    .title {
        color: #eee;
    }

    p {
        color: #eee;
    }

    .tldr {
        color: #ccc;
    }
}


    @media screen and (max-width: 768px) {
        .container {
            width: 96%;
            margin: auto;
        }

        .backbuttoncontainer {
            position: relative;
            padding: 10px;
            padding-top: 88px;
            height: 40px;
            width: 100%;
            display: inline-block;
        }

        .content {
            margin-left: 0;
            padding-top: 132px;
        }

        iframe {
            height: 200px;
        }

        p{
            width: 100%;
        }

        .tldr{
            width: 100%
        }

        .footer {
            margin-left: 0px;
            text-align: left;
        }
    }

