body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12pt;
    font-weight: 300;
}

.container{
    width: 70%;
    margin: auto;
}

/* Add a background color to the top navigation */
.topnav {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #c3c3c3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12pt;
    }

/* Change the color of links on hover */
.topnav a:hover {
    color: #000;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: black;
    font-weight: 600;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.Introduction {
    height: 45vh;
    align-items: center;
    font-size: 30pt;
    font-weight: 500;
    margin: auto;
    width: 96%;
}

.Heading {
    font-family: 'Barlow', sans-serif;
    font-size: 28pt;
    font-weight: 700;
    width: 100%;
    top: 42%;
    float: left;
    margin-right: 20px;
    position: relative;
    line-height: 1.2;

}

.Subheading {
    top: 45%;
    transition-duration: all 0.8s;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
    font-weight: 300;
    float: right;
    align-items: center;
    width: 100%;
    position: relative;
    line-height: 1.5;
    color: #3a3a3a;
    padding-top:12px;
}

.heart {
    transition: all 0.3s;
    color: #25AAF4;
    animation-name: namecolour;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes namecolour {
    from {
        color: #25AAF4;
    }

    25% {
        color: #FF2626;
    }

    50% {
        color: #03AB00;
    }

    100% {
        color: #FFCD00;
    }
}














@media screen and (max-width: 1200px) {
    .Introduction{
        height: 55vh;
    }

    .Heading{
        top: 30%;
    }

    .Subheading{
        top: 35%;
    }
}



/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .container{
        width: 93%;
    }
}